.hovers {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hovers:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(5deg) scale(1.4);
}